*{
    background-color: purple;
    margin: 10px; padding: 10px;
    color: white;
    font-size: 18px;
}

body{
    margin-top: 25px;
    height: 1500px;
}

h1{
    background-color: rgb(14, 97, 3);
    display: inline-block;
    margin: 5px; padding: 5px;
}